@import "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #d4d8db;
    font-weight: lighter;
}

/*
titulo: #05bda3 
top-menu: #2a2f32
contacts: #131c21
inside-input: #32373a
font-color: #d4d8db*/

body{
    height: 100vh;
}

header{
    background-color: #05bda3;
    padding: 5px;
    
}

main{
    display: flex;
    gap: 2px;
    height: 100vh;
    background-color: #32373a;
}


#left-menu{
   display: flex;
   flex-direction: column; 
   background-color: #32373a;
   gap: 2px;
}

#right-menu{
    display: flex;
    flex-direction: column;
    height:  100%;
    background-color: #32373a;
    flex: 2;
}

#bottom-menu{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#left-menu #top-menu{
    display: flex;
    background-color: #2a2f32;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 7px 8px;
    height: 45px;
}

#top-menu #image-top{
    display: flex;
    justify-content: center;
}

#top-menu img{
    border-radius: 50px;
}

#top-menu #icons-left{
    display: flex;
    gap: 20px;
}


#contact-selected{
    display: flex;
    background-color: #2a2f32;
    height: 37px;
    padding: 8px 8px 7px 8px;
    gap: 20px;
    align-items: center;
}

#contact-selected img{
    border-radius: 50px;
}

#contact-selected #names{
    flex: 2;
}

#contact-selected #icons{
    display: flex;
    gap: 20px;

}

#search-design{
    background-color: #131c21;
    padding: 8px;
}

#search-bar{
    display: flex;
    background-color: #32373a;
    padding: 8px;
    gap: 8px;
    margin: 2px;
    border-radius: 20px;
}

#search-bar input{
    border: none;
    background-color: #32373a;
    width: 100%;
}

input:focus-visible{
    outline: 0px;
}

.chats{
    display: flex;
    background-color: #131c21 ;
    height: 50px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    flex-grow: 2;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 5px   ;
}

.chats img{
    border-radius: 50px;
    width: 12%;
}

.hour{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}
.hour img {
    width: 50%;
}

.contact{
    flex: 1;
}

#messages img{
    width: 100%;
    height: 104%;
}

#type-bar{
    display: flex;
    background-color: #2a2f32;
    padding: 20px;
    margin-top: 3px;
    align-items: center;
    gap: 15px; 
}

#type-bar div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32373a;
    border: none;
    border-radius: 50px;
    gap: 50px;
}

#type-bar input{
    background-color: #32373a;
    border: none;
    border-radius: 50px;
    padding-bottom: 4px;
    padding-left: 20px;
    flex: 2;
    height: 43px;
}
