@import "UTF-8";

*{
    margin 0;
}

.container{
    max-width: 80vh;
    min-height: 80vh;
    background-color: lightgray;
    border-radius: 5px;
    margin: auto;
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: center;
}

.botao{
    max-width: 200px;
    min-height: 60px;
    background-color: lightgreen;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width: 20%;
}