@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');    

:root{ 
    --fonte: font-family: 'Nunito Sans', cursive;
    }

    *{
        font-family: 'Nunito Sans', cursive;
        padding: 0;
        
    }

    main{
        max-width: 800px;
        height: 700px;
        margin: auto;
        margin-bottom: 2px;
        border-radius: 10px;
        position: relative;

        }

    .fundo{
        border-radius: 10px;
        position: absolute;
        z-index: -1;
        max-width: auto;
        height: 100%;                
    }

    .container {
        display: flex;
        flex-direction: row;
        height: 530px;
    }

    .flex{
        display: flex;
        flex-direction: column;
    }
    main img{
        width: 100%;
    }

    header{
        height: 70px;
        max-width: 800px;
        text-align: right;
        background-color: #0396a191;
        border-radius: 5px 5px 0px 0px;
        padding-right: 5px;
    }

    h1{
        color: white;
        font-size: 1.8em;
    }
    
    .flex-e{
        width: 290px;
    }
    .flex-d{
        width: 490px;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 15px;
    }


    .logofacil{
        width: 90%;
        padding-left: 3px;
    }

    .logocentrolab{
       width:  90%;
       padding-left: 3px;
    }

    a{
        text-decoration: none;
        color: white;
        font-weight: 700;
    }

    a:visited{
        color: white;
    }

    li{
        list-style: none;
    }
    .menu{
        display: flex;
        flex-direction: column;
        width: 226px;
        padding: 0;
        margin: 0;
        
    }

    .menu li{
        background-color: #136b29;
        color: white;
        max-width: 220px;
        max-height: 35px;
        padding: 5px;
        text-align: center;
        font-size: 1.3em;
        margin-bottom: 6px;
        border-radius: 6px;
        padding: 8px;
        display: flex;
        flex-direction: column;
   
    }

    .menu li:hover{
        background-color: #136b297c;
        transition-duration: 1.2s;
        
    }

    .menu  li:hover::after {
        content: "";
        max-width: 90%;
        max-height: 2px;
        background-color: white;
        padding: 1px;
        margin-left: 4px;
        
 
    }

    footer{
        color: white;
        padding-left: 3px;
        background-color: #136b29;
        margin: auto;
        width: 800px;
    }

    footer a{
        font-size: 2em;
    }


    /* Tela de Cadastro */

    .cadcoleta-e{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 570px;
        background-image: url(imagens/menuesquerdo.png);
        background-size: 100% 100%;
    }

    .cadcoleta-d{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;
        width: 100%;
        height: 570px;
        background-image: url(imagens/menudireito.png);
        background-size: 100% 100%;
    }

    .dateTimeInput, .pacientDataInput, .pacientPaymentInput{
        display: flex;
        width: 90%;
        justify-content: space-between;
    }

    .dateTimeInput div{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    input, select{
        margin-top: -2px;
        margin-bottom: 12px;
        width: 200px;
        height: 28px;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.452) ;
    }

    #obs{
        height: 80px;
        text-align: left;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.452) ;

    }

    #time{
        width: 100px;
    }

    label{
        font-size: 13px;
        font-weight: bolder;
        margin-bottom: 2px;
    }

    .pacientDataInput label{
        margin-bottom: 0;
    }

    .pacientDataInput-L{
        display: flex;
        flex-direction: column;
    }    

    .pacientDataInput-R{
        display: flex;
        flex-direction: column;
    }   

    .pacientPaymentInput-L{
        display: flex;
        flex-direction: column;
    }
    .pacientPaymentInput-R{
        display: flex;
        flex-direction: column;
    }

    .formsbtn, .formsbtn > div{
        display: flex;
        height: 50%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .formsbtn > button, .formsbtn  a  button, .formsbtn > div > button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        max-height: 35px;
        background-color: #136b29;
        color: white;
        padding: 5px;
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 6px;
        border-radius: 6px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.514);
        cursor: pointer;

    }

    .formsbtn a{
        width: 100%;
        display: flex;
        
        justify-content: center;
    }

    .formsbtn > button:hover, .formsbtn  a  button:hover {
        background-color: #125335;
        transition-duration: 1s;
    }

    .formsbtn button:hover::before, .formsbtn a button:hover::before {
        content: "";
        max-width: 90%;
        height: 10px;
        background-color: white;
        padding: 1px;
        margin-right: 70px;
        transition-duration: 1s;
        
 
    }


    /* Tela de Visualização de coletas */


    .visucoleta-d{
        display: flex;
        justify-content: start;
        align-items: flex-start;
    
    }

    .cardColeta{
        background-color: #ffffffd0;
        padding: 10px;
        border-radius: 5px;
        margin-top: 15px;
        margin-left: 15px;
        width: 90%;        
    }

    .cardColeta label{
        font-weight: bold;
        color: rgb(53, 51, 51) ;
    }

    

    #nameCard label{
        font-weight: bolder;
        font-size: 1.2em;
    }

    #cardsColeta{
        width: 100%;
        min-height: 100%;
        overflow-y: scroll
    }

    #divImg{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    #divImg img{
        width: auto;
        margin-right: 5px;
        cursor: pointer;

        
    }

    #removeImg img:hover{
        opacity: 50%;
        
    }

    .editModal{
        position: absolute;
        width: 73.5%;
        visibility: hidden;
        gap: 13px;
    }

   

    .btnModal{
        visibility: hidden;
    }

    .btnVoltar{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .active{
        visibility: visible;
    }

    /* Tela de login */

    .loginScreen{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 50%;
        height: 50%;
        background-color: #0396a1b6;
        border-radius: 5px;
    }

    .labels-inputs{
        /*display: flex;
        flex-direction: column;*/
        position: relative;
        padding-top: 13px;
        margin-top: 5%;
        margin-bottom: 5%;
        gap: 10px;
        color: white;
    }

    .labels-inputs input{
        height: 35px;
        padding-left: 8px; 
        background-color: transparent;  
        outline: none;    
        border-bottom: 2px solid black; 
        border-radius: 0;
        box-shadow: none;
        display: inline-block;
        transition: all .3s ease-out;
    }

    .labels-inputs label{
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 20px;
        transition: all .3s ease-out;
    }

    .labels-inputs input:focus{
    border-bottom: 1px solid rgba(0, 0, 0, 0.548);
    }

    .labels-inputs input:focus + label,
    .labels-inputs input:valid + label{
        font-size: 11.5px;
        margin-top: 0;
    }

    #buttonsLogin{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        padding: 5px;

    }

    #buttonsLogin button{
        width: 40%;
        height: 30px;
        border-radius: 5px;
        color: white;
        background-color: #125335;
        cursor: pointer;
    }

    .desactive{
        visibility: hidden;
    }

    #errorMSG{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .errorMSG{
        padding: 8px;
        background-color: white;
        color: red;
        font-size: 10pt;
        font-weight: bolder;
    }


    /* Tela de Cadastro */

    .cadScreen{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 50%;
        height: 50%;
        background-color: #0396a1b6;
        border-radius: 5px;
    }

    #newLogin, #newPassword, #newName{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
    }

    #newLogin input, #newPassword input, #newName input{
        height: 35px;
        padding-left: 8px;        
    }

    #buttonCad{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        padding: 5px;

    }

    #buttonCad button{
        width: 40%;
        height: 30px;
        border-radius: 5px;
        color: white;
        background-color: #125335;
        cursor: pointer;
    }

    .fa-eye{
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
        color: #272262;
      }


    /* Responsivo */

    @media (max-width:373px){

        header{
            height: 50px;
        }

        header h1{
            font-size: 1.5em;
        }

        section ul.menu{
            max-width: 150px;
        }

        .menu li{
            max-width: 150px;
            font-size: 0.9em;
            display: flex;
            justify-content: center;
            align-items: center;
        }




    }