@import "UTF-8  ";

main{
    background-color: white;
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    
}

section{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

div{
    min-height: 100px;
    min-width: 100px;
    border: 2px solid;
}